import argparse

config_values = {
		'instance_name': 'Garage',
		'xmpp_server_host': 'talk.google.com',
		'xmpp_server_port': '5222',
    'xmpp_username': '@gmail.com',
    'xmpp_password': 'password',
    'xmpp_recipients': '@gmail.com',
    'webcam_host': 'localhost',
    'webcam_port': 8081,
    'aws_key': 'accesskey',
    'aws_secret': 'secretkey',
    's3_bucket': 'bucketname',
    's3_url_expiry': 60
}

class Configuration(object):
    def __init__(self):
        parser = argparse.ArgumentParser()
        args, _ = parser.parse_known_args()

    def get(self, name):
        return config_values.get(name)

configuration = Configuration()
