button { 
	display: block; 
	background-color:#aaaaaa; 
	border-radius:6px; 
	border:1px solid #aaaaaa; 
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:50px;
	width:200px;
	text-align:center;
	text-shadow:1px 1px 0px #aaaaaa;
}

button:active {
	background-color:#ff0000; 
}